body,html{

    margin              : 0;
    padding             : 0;
    box-sizing          : border-box;
    font-family         : Arial, Helvetica, sans-serif;
    height              : 100vh;
    width               : 100%;
    overflow            : auto;

}

main{

    background          : rgb(209,125,47);
    background          : linear-gradient(0deg, rgba(209,125,47,1) 0%, rgba(255,136,3,1) 0%, rgba(159,190,196,1) 56%);
    height              : 100%;
    display             : flex;
    flex-direction      : column;
    overflow            : auto;
    position            : fixed;
    top                 : 0;
    width               : 100vw;


}
footer{

    background-color    : #ffd044;
    height              : 10vh;
    display             : flex;
    flex-direction      : column;
    overflow            : hidden;
    position            : fixed;
    bottom              : 0;
    width               : 100vw;
    box-shadow          : inset 0px 5px 1px white;
}





h1{

    font-family         : arial;
    font-weight         : lighter;
    color               : #67675c;
    background-color    : #2f3435;
    padding             : 10px 22px;
    border-radius       : 10px;
    box-shadow          : 0px 8px 1px #ffffff;
    margin              : 0;
    display             : flex;
    flex-wrap           : nowrap;
    align-items         : end;


}

a{

    text-decoration: none;
    
}

::-webkit-scrollbar {
    width: 10px;
    background-color: white;
    border-radius: 20px;
    margin-right: 10px;
    display : block
}

.subTitle{

    color               : rgb(255, 255, 255);
    padding             : 0 25px;
    font-weight         : lighter;
    font-size           : 15px;
    position            : relative;
    bottom              : 0;
}

}
.subTitle.dark{

   color                :  rgb(69 63 63);
   margin               : 5px;

}

.margedLeft20{

    margin-left : 20px

}

#catHubLogo{

    background-color            : white;
    background-image            : url(../tcRes/logos/catHub_web.svg);
    background-size             : contain;
    width                       : 115px;
    height                      : 115px;
    background-size             : 80%;
    background-position         : center;
    background-repeat           : no-repeat;
    float                       : left;
    border-radius               : 10px;
    border-bottom-right-radius  : 0;
    margin-right                : 10px;
    cursor                      : pointer;

}
.catHubLogoPoints{

    background-color            : white;
    width                       : 35px;
    height                      : 35px;
    margin-right                : 10px;
    float                       : left;
    border-radius               : 5px;
    border-bottom-right-radius  : 0;
   
}

.scrabbleBox{

    width                       : 100%;
    background-color            : rgb(255 255 255);
    color                       : #1d1b1b;
    font-size                   : medium;
    padding                     : 20px 30px;
    margin                      : 0;
    line-height                 : 35px;
    max-height                  : 300px;
    min-height                  : 150px;
    display                     : block;
    word-break                  : break-word;
    word-wrap                   : break-word;
    border-radius               : 30px;
    font-weight                 : bold;
    border-radius               : 0

}

.symbol{

    background-color            : transparent;
    background-size             : contain;
    width                       : 60px;
    height                      : 60px;
    background-size             : 80%;
    background-position         : center;
    background-repeat           : no-repeat;
    float                       : left;
    border-radius               : 10px;
    border-bottom-right-radius  : 0;
    margin-right                : 10px; 
}
.ü0{
    background-image            : url(../tcRes/chars/ü0_web.svg);
}
.mod-{
    background-image            : url(../tcRes/symbols/mod.svg);
}
.threeFoosInARow{

    display                     : flex;
    flex-direction              : row;
    height                      : 735px;
    margin                      : 0 1vw;
    overflow                    : hidden;
    margin-top                  : 25px;

}
.threeFoosContainer{

    position                    : relative;
    background-color            : #e8dede;
    box-shadow                  : 15px 30px 1px #1205b7;
    overflow                    : hidden;
    position                    : absolute;
    visibility                  : hidden;

}

.threeFoosInnerContainer.top{

    /*border-left     : 1px solid grey;*/
    height          : 100px !important;
    display         : flex;
    flex            : auto;
    align-content   : space-between;
    margin-bottom   : 0;
    margin-top      : 0;
    width           : 180px;

}
.threeFoosInnerContainer.bottom{

    height              : 100px !important;
    display             : flex;
    flex-direction      : row;
    width               : 600px;
    justify-content     : center;
    margin-top          : 0;
    margin-bottom       :0;

}

.puzzleContainer,.threeFoosInnerContainer{

    margin      :   10px auto;
    width       :   310px;
    height      :   310px;
    display     :   flex;
    flex-flow   :   wrap;
    

}
.fooBox{

    border      : 1px solid grey;
    padding     : 5px;
    height      : fit-content;
    border-left : none;
    box-shadow  : 15px 10px 1px #dbd4d4;
    display     : flex;


}

.fooBox.division{

    margin-top  : 55px;
    height      : 15px;

}

.fooBox.margedLeft20{

    border: 1px solid grey

}

.threeFooButton{

    padding                 : 5px;
    background-color        : #59d1fb;
    color                   : #f1eded;
    font-size               : large;
    width                   : 140px;
    align-self              : center;
    z-index                 : 9;
    outline                 : 3px solid #f1eded;
    border                  : 9px solid #ae4848;
    /*border-radius           : 50px;*/
    margin                  : 8px 0;

}

.threeFooPodiContainer{

    width                   : 100px;
    height                  : 100px;
    border-radius           : 50%;
}

.threeFooPodiDot{

    width                   : 20px;
    height                  : 20px;
    border-radius           : 50%;
    margin                  : 5px;
    background-color        : white;



}

.threeFooButton.blue:hover{

    background-color        : #11b4c0;
}
.threeFooButton.azur:hover{

    background-color        : #17e1c6;
}
.threeFooButton.green:hover{

    background-color        : #5ee77b;
}

.scrabbleButtons>input{

    float               : right;
    background-color    : #849784;
    border-radius       : 10px;
    color               : #dfd8d8;
    padding             : 20px;
    outline             : white;
    box-shadow          : 0px 4px 1px #b5b2b2;
    border              : white

}

.threeFooButton.scrabTheWords{

    background-color            : white;
    color                       : #2f3435;
    border-bottom-right-radius  : 5px;


}

.getAndVisulisizeValuesContainer{

   display              : flex;
   flex-flow            : wrap;
   align-content        : flex-end;
   max-width            : 65vw;
   margin-left          : 10px;

}
#checkIntegrityValueContainer{

    position            : relative;
    height              : 50px;
    color               : white;
    text-align          : center;
    font-size           : large;
    width               : 100%;
    top                 : -55px;

}

.charsContainer{

    display                     : flex;
    justify-content             : space-evenly;
    width                       : 60vw;
    align-self                  : center;
    padding                     : 7px;
    padding-bottom              : 8px;
    background-color            : #59d1fb;
    border-radius               : 10px;
    border-top                  : 8px solid #dd985f;

}

.charIcon{

    width                       : 70px;
    height                      : 70px;
    background-size             : cover;
    float                       : left;
    background-repeat           : no-repeat;
    border-radius               : 8px;
    outline                     : none !important;
    box-shadow                  : inset 2px 2px 25px #383c38
  
}


}

.charIcon:hover{

outline: 2px double #17e1c6;


}

.charIcon:active,.charIcon:checked{

outline: 2px double #17e1c6;
filter: invert();

}

.charIcon.hapo{

    background-image: url(../tcRes/chars/hapo.jpg);

}
.charIcon.hapo{

    background-image: url(../tcRes/chars/hapo.jpg);

}
.charIcon.hapo{

    background-image: url(../tcRes/chars/hapo.jpg);

}
.charIcon.hapo{

    background-image: url(../tcRes/chars/hapo.jpg);

}
.charIcon.hapo{

    background-image: url(../tcRes/chars/hapo.jpg);

}
.charIcon.kev{

    background-image: url(../tcRes/chars/kevd.jpg);

}
.charIcon.mahan{

    background-image: url(../tcRes/chars/mahan.jpg);

}
.charIcon.max{

    background-image: url(../tcRes/chars/max.jpg);

}
.charIcon.mar{

    background-image: url(../tcRes/chars/mar.jpg);

}
.charIcon.jos{

    background-image: url(../tcRes/chars/jos.jpg);
    

}
.charIcon.white{

    background-image: url(../tcRes/chars/white.jpg);

}
.charIcon.noport{

    background-image: url(../tcRes/chars/noport.jpg);

}
.charIcon.ste{

    background-image: url(../tcRes/chars/ste.jpg);

}
.charIcon.cla{

    background-image: url(../tcRes/chars/cla.jpg);

}
.charIcon.nik{

    background-image: url(../tcRes/chars/nik.jpg);

}
.charIcon.evsa{

    background-image: url(../tcRes/chars/evsa.jpg);

}
.charIcon.beat{

    background-image: url(../tcRes/chars/beat.jpg);

}

.jBlue       { background-color: rgb(35, 255, 226) }
.jYellow     { background-color: rgb(255, 222, 33) }
.jGreen      { background-color: rgb(35, 255, 108) }
.jRed        { background-color: rgb(255, 79, 35)  }
.jOrange    { background-color: rgb(35, 255, 226) }

.charIcon.onTrigger{

    transition: all ease-in 80;
    background-image: none;
    
}

.badgeVollePulle{

    width               :500px;
    height              :175px;
    background-image    : url(../tcRes/symbols/vollePulle.svg);
    background-size     : 75%;
    background-repeat   : no-repeat;
    margin-top          : 20px;
    background-position : center;
}
.badgeProfaneDrow{

    width               : 500px;
    height              : 549px;
    background-image    : url(../tcRes/chars/profaneDrowSketch_2.jpg);
    background-size     : contain;
    margin              : 0 10px;
    border-radius       : 30px;
    border              : 2px solid #e7d9d9;
}

.sBitsLogger{

    position            : relative;
    font-style          : oblique;
    font-weight         : bold;
    margin-left         : 5px;
    margin-top          : 5px;

}





.canvasBox{

    position            : relative;
    width               : 60vw;
    top                 : -70px;
    height              : 550px;
    /* left: 2.5vw; */
    display             : flex;
    justify-content     : center;
    align-items         : center;
    background-color    : #2b2a27;
    border-radius       : 30px;
    border              : 2px solid #e7d9d9;

}

.canvasLayer
{
    position        : absolute;
    opacity         : 0.25;
    visibility      : hidden;
}

.canvasLayer.on{

    visibility      :  visible;

}

.puzzlePart{

    float: left;
    margin              :   0 0;
    width               :   100px;
    height              :   100px;
    background-color    : wheat;
    border              :   1px solid grey;
}